:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}
body {
  background-image: linear-gradient(
      45deg,
      transparent 20%,
      rgb(219, 219, 219) 25%,
      transparent 25%
    ),
    linear-gradient(
      -45deg,
      transparent 20%,
      rgb(219, 219, 219) 25%,
      transparent 25%
    ),
    linear-gradient(
      -45deg,
      transparent 75%,
      rgb(219, 219, 219) 80%,
      transparent 0
    ),
    radial-gradient(rgb(217, 217, 217) 2px, transparent 0);
  background-size: 30px 30px, 30px 30px;
}

.header {
  margin-left: 0;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header h1 {
  font-size: 2.5rem;
  margin: 0;
  color: #333333;
  background: #ffffff;
  text-shadow: 2px 2px 0px #ffffff, 5px 4px 0px rgba(0, 0, 0, 0.15);
  color: #e614d1;
  background: #ffffff;
}
.header h2 {
  font-size: 2rem;
  padding: 10px;
  margin: 0;
  color: #1a78d1;
  text-shadow: 4px 3px 0px #e9e6e6;
}
.header span {
  border-top: 3px solid rgb(98, 207, 20);
  margin-top: 20px;
  width: 40vw;
}
.model {
  position: relative;
  width: 45%;
}
.avatar {
  height: 100px;
  width: 200px;
  position: absolute;
  margin-left: 10rem;
  margin-top: 5rem;
}
.avatar img {
  position: fixed;
  height: 25rem;
  width: 23rem;
  border: 5px solid rgb(31, 243, 250);
  padding: 20px;
  padding-bottom: 0;
}
#glass {
  z-index: 5;
}
#eyebrow {
  z-index: 4;
}
#eye {
  z-index: 1;
}
#mouth {
  z-index: 4;
}
#nose {
  z-index: 4;
}
#hair {
  z-index: 6;
}
#layer3 {
  z-index: 4;
}
#layer2 {
  z-index: 3;
}
#layer1 {
  z-index: 2;
}

#body {
  z-index: 0;
}
#button-random {
  position: fixed;
  margin-top: 410px;
  margin-left: 110px;
  z-index: 1;
  height: 40px;
  width: 150px;
  border: none;
  font-size: 1.2rem;
  background-color: #e66f14;
  color: #ffffff;
  border-radius: 5px;
}
#button-random:hover {
  opacity: 0.9;
}
.container {
  display: flex;
  justify-content: space-between;
}
.list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 5rem;
  padding-right: 8.5rem;
  width: 50%;
}
.body {
  margin-bottom: 50px;
  height: auto;
  width: 100%;
  border: 5px solid rgb(215, 149, 17);
  display: flex;
  flex-wrap: wrap;
  border-radius: 15px;
}
.body img {
  height: 80px;
  width: 80px;
  margin: 10px;
  border: 2px solid rgb(255, 157, 157);
  border-radius: 15px;
  background-color: rgb(89, 238, 103);
}
.body img:hover {
  background-color: #e9e6e6;
}
