:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}
body {
  background-image: linear-gradient(
      45deg,
      transparent 20%,
      rgb(219, 219, 219) 25%,
      transparent 25%
    ),
    linear-gradient(
      -45deg,
      transparent 20%,
      rgb(219, 219, 219) 25%,
      transparent 25%
    ),
    linear-gradient(
      -45deg,
      transparent 75%,
      rgb(219, 219, 219) 80%,
      transparent 0
    ),
    radial-gradient(rgb(217, 217, 217) 2px, transparent 0);
  background-size: 30px 30px, 30px 30px;
}
.header {
  margin-left: 0;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header h1 {
  font-size: 2.5rem;
  margin: 0;
  color: #333333;
  background: #ffffff;
  text-shadow: 2px 2px 0px #ffffff, 5px 4px 0px rgba(0, 0, 0, 0.15);
  color: #e614d1;
  background: #ffffff;
}
.header h2 {
  font-size: 2rem;
  padding: 10px;
  margin: 0;
  color: #1a78d1;
  text-shadow: 4px 3px 0px #e9e6e6;
}
.header span {
  border-top: 3px solid rgb(98, 207, 20);
  margin-top: 20px;
  width: 40vw;
}
.model {
}
.avatar {
  position: relative;
}
.avatar img {
  position: absolute;
  height: 20vh;
  width: 15vw;
}
